<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project page</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<div class="-details">
    <h1 class="text__header">Название: <span th:text="${project.name}"></span> </h1>
    <p></p>

    <a th:href="@{'/home/projects'}">Перейти к проектам</a>
    <a th:href="@{'/home/timesheets/projects/{projectId}'(projectId=${project.id})}">Посмотреть заметки</a>
</div>
<div>
    <a href="javascript:history.back()">Вернуться назад</a>
</div>

</body>
</html>